@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
}

.container{
    width: 800px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.containeritem{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

}

.containeritem h2{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 2px;

}

.containeritem p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    margin-bottom: 60px;
    flex-grow: 1;
}

.containeritem button{
    background-color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}

.containeritem button:hover{
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
    color:hsl(0, 0%, 95%) ;
    padding: 13px 28px;
}


.sedan button {
    color: hsl(31, 77%, 52%);
}

.suv button{
    color: hsl(184, 100%, 22%);
}

.luxury button{
    color: hsl(179, 100%, 13%);

}

.sedan{
    background-color:  hsl(31, 77%, 52%);
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}
    


img{
    height: 25px;
}






